jboss-4.2.3.GA/server/default/data/wsdl/SPICSwound.ear/SPICSwound.jar/PatientService4794408908390126725.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PatientService" targetNamespace="http://webservice.util/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.util/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xs:schema targetNamespace="http://webservice.util/" version="1.0" xmlns:tns="http://webservice.util/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SpicsWebserviceException" nillable="true" type="tns:spicsWebserviceFault"/>
   <xs:element name="createPatient" type="tns:createPatient"/>
   <xs:element name="createPatientResponse" type="tns:createPatientResponse"/>
   <xs:element name="findPatient" type="tns:findPatient"/>
   <xs:element name="findPatientResponse" type="tns:findPatientResponse"/>
   <xs:complexType name="findPatient">
    <xs:sequence>
     <xs:element minOccurs="0" name="username" type="xs:string"/>
     <xs:element minOccurs="0" name="patientId" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="findPatientResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="return" type="xs:long"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spicsWebserviceFault">
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name="createPatient">
    <xs:sequence>
     <xs:element minOccurs="0" name="username" type="xs:string"/>
     <xs:element minOccurs="0" name="patientId" type="xs:string"/>
     <xs:element minOccurs="0" name="documentationId" type="xs:long"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createPatientResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="return" type="xs:long"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
  </types>
  <message name="PatientService_createPatientResponse">
    <part name="createPatientResponse" element="tns:createPatientResponse">
    </part>
  </message>
  <message name="SpicsWebserviceException">
    <part name="SpicsWebserviceException" element="tns:SpicsWebserviceException">
    </part>
  </message>
  <message name="PatientService_findPatient">
    <part name="findPatient" element="tns:findPatient">
    </part>
  </message>
  <message name="PatientService_findPatientResponse">
    <part name="findPatientResponse" element="tns:findPatientResponse">
    </part>
  </message>
  <message name="PatientService_createPatient">
    <part name="createPatient" element="tns:createPatient">
    </part>
  </message>
  <portType name="PatientService">
    <operation name="createPatient" parameterOrder="createPatient">
      <input message="tns:PatientService_createPatient">
    </input>
      <output message="tns:PatientService_createPatientResponse">
    </output>
      <fault name="SpicsWebserviceException" message="tns:SpicsWebserviceException">
    </fault>
    </operation>
    <operation name="findPatient" parameterOrder="findPatient">
      <input message="tns:PatientService_findPatient">
    </input>
      <output message="tns:PatientService_findPatientResponse">
    </output>
      <fault name="SpicsWebserviceException" message="tns:SpicsWebserviceException">
    </fault>
    </operation>
  </portType>
  <binding name="PatientServiceBinding" type="tns:PatientService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createPatient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SpicsWebserviceException">
        <soap:fault name="SpicsWebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPatient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SpicsWebserviceException">
        <soap:fault name="SpicsWebserviceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PatientService">
    <port name="PatientServicePort" binding="tns:PatientServiceBinding">
      <soap:address location="http://127.0.0.1:8080/SPICSWebservice/PatientServiceImpl"/>
    </port>
  </service>
</definitions>
